@page
@using Agenda.Data
@model IndexModel
@inject ApplicationDbContext DbContext
@{
    ViewData["Title"] = "Início";
}

<style>

    .link-calendario {
        text-decoration: none;
        color: black;
    }

    .link-calendario:hover {
        color: black;
    }

    .fc-day-today {
        background-color: #ababab26 !important;
    }


    a.fc-event.fc-event-start.fc-event-end.fc-event-future.fc-timegrid-event.fc-v-event.fc-timegrid-event-short {
        min-height: 23px !important;
    }

    .finalizada, .alta, .media, .baixa, .default {
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        /*white-space: nowrap;*/
        white-space: break-spaces;
        padding: 3px;
    }

        .finalizada:hover, .alta:hover, .media:hover, .baixa:hover, .default:hover {
            background: gray !important;
    }
    .finalizada {
        border: 1px solid #0000005e !important;
        background:#e2ffe0 !important;
    }

    .alta {
        border: 1px solid #0000005e !important;
        background: #ffa7a7 !important;
    }

    .media {
        border: 1px solid #0000005e !important;
        background: #ffffa7 !important;
    }

    .baixa {
        border: 1px solid #0000005e !important;
        background: #FFFFFF !important;
    }

    .default {
        border: 1px solid #0000005e !important;
        background: #FFFFFF !important;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
</div>
<div style="display: grid;place-items: center;overflow: auto;">
    <div style="width: 800px;">
        <div id="calendario"></div>
    </div>
</div>

@section Scripts {

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendario');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                navLinks: true, // can click day/week names to navigate views
                titleFormat: {
                    month: 'long',
                    year: 'numeric',
                    day: 'numeric'
                },
                buttonText: {
                    today: 'hoje',
                    month: 'mês',
                    week: 'semana',
                    day: 'dia',
                    list: 'lista'
                },
                events: @Html.Raw(Json.Serialize(Model.EventosJson.Value)),
                eventContent: function (info) {
                    return {
                        html: '<a titile="' + info.event.title + '" class="link-calendario" href="/IncluirEditarTarefa/?id=' + info.event.id + '">' + info.event.title + '</a>'
                    };
                },
                eventClick: function (info) {
                    window.location.href = "/IncluirEditarTarefa/?id=" + info.event.id;
                },
                eventBackgroundColor: 'backgroundColor',
                eventBorderColor: 'borderColor'
            });

            calendar.setOption('locale', 'pt-br');

            calendar.render();
        });
    </script>
}
